VITE_GEOAPIFY_API_KEY=83a80db3c96a431c8b3ec31288a3a41f

VITE_API_BASE_URL=https://ipawcus.com/php/index.php

DB_HOST=localhost
DB_PORT=3306
DB_USER=u813606159_iPawcusDev1
DB_PASSWORD=1234567890@qwertY
DB_NAME=u813606159_ipawcus_system

FRONTEND_ORIGIN=https://ipawcus.com

VITE_MASTER_KEY=iPawcus-MASTER-2024

RESTRICT_IP_MODE=public_wan
RESTRICT_IP_SELF_SERVICE_QUEUE=136.158.70.60

ENABLE_AUTH=0
JITSI_BASE_URL=https://meet.jit.si

MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_ENCRYPTION=ssl
MAIL_USERNAME=vetfocuscare@ipawcus.com
MAIL_PASSWORD=M3d:@YCpp8Q
MAIL_FROM_ADDRESS=vetfocuscare@ipawcus.com
MAIL_FROM_NAME="Vetfocus Care Animal Clinic"

MAIL_REPLY_TO=vetfocuscare@ipawcus.com
MAIL_DEBUG=0

OTP_SECRET=angtatanganamenlahatngenangpaggagawangsystemyan

NOTIFICATION_REMINDER_KEY=angtatanganamenlahatngenangpaggagawangsystemyannootificationsecree

PUSH_VAPID_PUBLIC_KEY=BCfHqcdZbSZl5lZJxi86DVQ6r3VyzuReVqtK7w2BhGTaP7Kyg49-TPWVi6cIwKsMLaAY0XOWVVvZLK7dikmTzKQ
PUSH_VAPID_PRIVATE_KEY=4iE-Qg5EGdsbFBNJuOLdtzdgC1WXQIcIgZDO2WtezXI
PUSH_VAPID_SUBJECT=mailto:vetfocuscare@ipawcus.com