@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 100%;
  }

  body {
    @apply bg-white text-slate-900;
  }
}

.mobile-dashboard-drawer {
  transform: translateX(-100%);
  transition:
    transform 0.32s ease,
    box-shadow 0.32s ease;
}

.mobile-dashboard-drawer.open {
  transform: translateX(0);
}

.hide-native-password-toggle::-ms-reveal,
.hide-native-password-toggle::-ms-clear {
  display: none;
}

.hide-native-password-toggle::-webkit-credentials-auto-fill-button,
.hide-native-password-toggle::-webkit-textfield-decoration-container {
  display: none;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

